In [24]:
import pandas as pd
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.model_selection import train_test_split

In [25]:
# 1. Load your dataset (replace 'your_dataset.csv' with your dataset's file path)
df = pd.read_csv('C:\\Users\\adity\Desktop\Ic\Research\Computation\Test\preprocessed.csv')
df = pd.DataFrame(df)

In [26]:
X = df[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']]
y = df['Outcome']

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [28]:
selector = SelectKBest(score_func=f_classif, k=5)  # Choose the number of top features (k)
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)

In [29]:
# Create a list of selected feature names
selected_feature_names = X.columns[selector.get_support()]

# Print the selected feature names
print("Selected Features:")
print(selected_feature_names)

Selected Features:
Index(['Glucose', 'SkinThickness', 'Insulin', 'BMI', 'Age'], dtype='object')

In [30]:
selected  = df[['Glucose', 'SkinThickness', 'Insulin', 'BMI', 'Age']].round(2)

In [31]:
selected['Outcome'] = df['Outcome']
selected

     Glucose  SkinThickness  Insulin   BMI   Age  Outcome
0      148.0          35.00   196.24  33.6  50.0        1
1       85.0          29.00    67.43  26.6  31.0        0
2      183.0          26.86   192.18  23.3  32.0        1
3       89.0          23.00    94.00  28.1  21.0        0
4      137.0          35.00   168.00  43.1  33.0        1
..       ...            ...      ...   ...   ...      ...
763    101.0          48.00   180.00  32.9  63.0        0
764    122.0          27.00   159.48  36.8  27.0        0
765    121.0          23.00   112.00  26.2  30.0        0
766    126.0          30.19   138.86  30.1  47.0        1
767     93.0          31.00    79.07  30.4  23.0        0

[768 rows x 6 columns]

In [32]:
#selected.to_csv('fscoreSelected.csv', index = False)